.dark-button, .white-button, .buttons {
    width: 230px;
    height: 60px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    transition: background-color 0.4s;
    margin: 10px;
}

.dark-button {
    background-color: #161B1F;
    color: #E5E4E2;
}

.white-button {
    background-color: #f1f1f1;
    color: #161B1F;
}

.buttons {
    background-color: #161B1F;
    color: #E5E4E2;
    width: 230px;
    height: 70px;
    border-radius: 1150px;
}

.white-button:hover {
    background-color: #ffffff;
} 

.dark-button:hover {
    background-color: #232a31;
}

.buttons:hover {
    background-color: #232a31;
}

.white-button:active {
    background-color: #ececec;
} 

.dark-button:active {
    background-color: #161B1F;
}

.buttons:active {
    background-color: #161B1F;
}

.stop-watch {
    color: #161B1F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    transition: color 0.3s;
    text-align: center;
}

.newTextColor {
    color: #E5E4E2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    transition: color 0.3s;
    text-align: center;
}

body {
    background-color: #E5E4E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin: 10px;
}